.App {
  text-align: center;
  background-image: url('./forestBG.png');
}

.App-div{
  width:50%;
  margin: 0 auto;
  margin-top: 2%;
  border: 5px ridge rgb(2, 85, 85);
  font-weight: bolder;
  background: linear-gradient(to bottom right, blue,cyan);
  color: aliceblue;
  text-shadow: 2px 2px black;
  display: flex;
  justify-content: space-evenly;
}

.form{
  width:50%;
  margin: 0 auto;
  margin-top: 2%;
  display:flex;
  flex-direction: column;
}

.label{
  border: 5px ridge rgb(2, 85, 85);
  background: rgba(255, 255, 255, 0.5);
}

.input{
  border: 5px ridge rgb(2, 85, 85);
  background: linear-gradient(to bottom right, blue,cyan);
  color: white;
  font-weight: bold;
}

.btn{
  border: 5px ridge rgb(2, 85, 85);
}

.image{
  width: 20%;

}
